
<div class="data-container">
  <ul>
    <!-- <span>{{item | json}}</span> -->
    <table style="width: 50%;">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <!-- <th>Address</th> -->
      </tr>
      <ng-container *ngFor="let item of this.data$ | async">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <!-- <td>{{ item.address }}</td> -->
        </tr>
      </ng-container>
    </table>
  </ul>
</div>
